/* RESET */
html, body {
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}

/* IMPORT */
@font-face {
    font-family: "Inversionz";
    src: url("/fonts/Inversionz.ttf") format("truetype");
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    background-color: #180506;
    color: #fff;
}

/* BASIC */
a:link, a:hover, a:active {
    color: #fff;
}

a:visited {
    color: #ddd;
}

::selection {
    color: rgba(255, 255, 255, 1);
    background: rgba(172, 18, 35, 1);
}

/* THEME */
h1, h1 span, h2, h2 span, h3, h3 span, h4, h4 span, h5, h5 span, h6, h6 span {
    font-family: "Source Sans Pro", Arial, sans-serif !important;
}

span, p {
    font-family: "Open Sans", Arial, sans-serif !important;
}

blockquote::before, blockquote::after {
    content: "";
}

/* COLORS */


/* UTILS */
.right {
    float: right;
    display: flex;
}

.white {
    color: #fff;
}

.bold {
    font-weight: bold;
}

.v-middle {
    vertical-align: middle;
}

.v-bottom {
    vertical-align: bottom;
}

.shadow {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

/* CARD LAYOUT */
.card-layout {
    background-image: url(../images/world.svg);
    background-attachment: fixed;
    background-position: center center;
    background-size: auto 104%;
    width: calc(100% - 64px);
    min-height: calc(100vh - 411px);
    padding: 128px 32px 64px 32px;
    text-align: center;
}

.card-layout-inner {
    display: inline-block;
    text-align: center;
    max-width: 924px;
    width: 100%;
}

.card-layout-card {
    background-color: #0c0203;
    border-radius: 4px;
    width: calc(100% - 64px);
    padding: 32px;
}

.card-layout-card h1.main-title {
    font-size: 34px;
    margin: 24px 0 24px 0;
    line-height: 40px;
}

@media(max-width: 759px) {
    .card-layout {
        padding: 96px 32px 64px 32px;
    }
}

@media(max-width: 450px) {
    .card-layout {
        width: calc(100% - 32px);
        padding: 96px 16px 64px 16px;
    }
}

/* TOOLBAR */
#toolbar {
    width: calc(100% - 32px);
    height: 48px;
    line-height: 48px;
    padding: 8px 16px 8px 16px;
    z-index: 99;
    position: fixed;
    text-align: center;
    background-color: #180506;

    transition: all ease-out .4s;
}

#toolbar.scrolled {
    transition: all ease-in .2s;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.toolbar-inner {
    display: inline-block;
    max-width: 924px;
    width: 100%;
}

.toolbar-inner-flex {
    display: flex;
    justify-content: space-between;
}

.toolbar-branding {
    display: inline-flex;
}

.toolbar-logo {
    height: 36px;
    margin-right: 8px;
}

.toolbar-title {
    color: white !important;
    vertical-align: bottom;
    text-decoration: none;
    font-size: 48px;
    font-family: 'Inversionz', sans-serif;
}

@media(max-width: 800px) {

    .toolbar-title {
        font-size: 36px;
    }
}

.toolbar-menu {
    display: inline-flex;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.toolbar-menu span {
    margin-right: 6px;
    margin-left: 6px;
}

.toolbar-menu span a {
    color: #fff;
    text-decoration: none;
}

/* FOOTER */
#footer .mdl-mega-footer {
    background-color: #000;
    color: white;
}

.mdl-mega-footer__drop-down-section {
    width: 33% !important;
}

#footer a {
    color: #c7c7c7;
}

.mdl-mega-footer__heading {
    font-size: 18px !important;
    color: #fff !important;
}

.mdl-mega-footer__bottom-section .mdl-mega-footer__link-list {
    float: right;
}


@media(max-width: 759px) {
    .mdl-mega-footer__link-list {
        margin: 24px 0 28px 0 !important;
    }
    .mdl-mega-footer__link-list li {
        margin-bottom: 4px !important;
    }
    .mdl-mega-footer__drop-down-section {
        width: 100% !important;
    }
}
